<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="edge">
    <title>Title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/bootstrap-theme.min.css">

</head>
<body>
<div style="position: relative;width:100%;top:50px;;">

    <form action="/startGame" method="post">

        <div class="form-group" id="content">

        </div>
        <input type="button" class="btn btn-primary" onclick="startGame()" value="startGame">

        <div class="alert alert-warning" id="msg" style="display: none" align="center"></div>
    </form>

</div>
<script src="javascripts/jquery.min.js"></script>
<script src="javascripts/SkyRTC-client.js"></script>
<script type="text/javascript">
    var rtc = SkyRTC();
    rtc.connect("ws:" + window.location.href.substring(window.location.protocol.length).split('#')[0], 'admin');
    rtc.on("_new_peer", function (data) {
        var parent = $("#content");
        parent.empty();
        for (var i in data) {
            var playerName = data[i];
            var div = $("<div/>", {
                class: "form-group"
            }).prependTo(parent);
            $("<span/>").text("用户:" + playerName + "加入").appendTo(div);
        }
    });
    rtc.on("_gameOver", function (data) {
        var tableNumber = data.tableNumber;
        var result = "table " + tableNumber + " 游戏结束，胜者如下：";
        var winners = data.winners;
        for (var i in winners) {
            var player = winners[i];
            result += "用户:" + player.playerName + ",最终金额:" + player.chips + "\n";
        }
        $("#msg").html($("#msg").html() + "<br/>" + result);
        $("#msg").show();
    });
    rtc.on('startGame', function (data) {
        $("#msg").html($("#msg").html() + "<br/>" + data.msg);
        $("#msg").show();
    });

    rtc.on('__deal', function (data) {
        var tableNumber = data.tableNumber;
        var data = data.data;
        var board = "";
        for (var index in data) {
            board += data[index] + ",";
        }
        $("#msg").html($("#msg").html() + "<br/>" + "table " + tableNumber + " 当前公共牌：" + board);
        $("#msg").show();
    });
    rtc.on('__newRound', function (data) {
        var roundCount = data.roundCount;
        var tableNumber = data.tableNumber;
        $("#msg").html($("#msg").html() + "<br/>" + "table " + tableNumber + " 第" + roundCount + "轮开始");
        $("#msg").show();
    });
    rtc.on('__showAction', function (data) {
        var tableNumber = data.tableNumber;
        var roundAction = data.data;
        if (roundAction.action == "check" || roundAction.action == "fold" || roundAction.action == "raise" || roundAction.action == "call")
            $("#msg").html($("#msg").html() + "<br/>" + "table " + tableNumber + " 玩家：" + roundAction.playerName + " 采取动作：" + roundAction.action);
        else
            $("#msg").html($("#msg").html() + "<br/>" + "table " + tableNumber + " 玩家：" + roundAction.playerName + " 采取动作：" + roundAction.action + ",押注金额：" + roundAction.amount);

        $("#msg").show();
    });
    function startGame() {
        rtc.startGame();
    }
</script>
</body>
</html>