<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="edge">
    <title>THE KanBan</title>
    <link rel="stylesheet" href="style/bootstrap.min.css">
    <link rel="stylesheet" href="style/bootstrap-theme.min.css">
    <link rel="stylesheet" href="js/public/bootstrap-table/bootstrap-table.css">
</head>
<body>
<h1 style="text-align: center">KanBan</h1>

<div class="container" id="kanban">
    <div id = "kanban_table_container" style="width: 100%">
    </div>
</div>

<script src="js/public/jquery.min.js"></script>
<script src="js/public/SkyRTC-client.js"></script>
<script src="js/public/bootstrap-table/bootstrap-table.js"></script>
<script src="js/kanban.js"></script>
</body>
</html>