<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="edge">
    <title>THE KanBan</title>
    <link rel="stylesheet" href="style/bootstrap.min.css">
    <link rel="stylesheet" href="style/bootstrap-theme.min.css">
</head>
<body>
<h1 style="text-align: center">欢迎来到看版</h1>

<div id="kanban">

</div>
<script src="js/public/jquery.min.js"></script>
<script src="js/public/SkyRTC-client.js"></script>
<script src="js/kanban.js"></script>
</body>
</html>